*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria;
  background: #daeff1;
}

.forms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #2b686e;
}

.forms {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.form {
  overflow: hidden;
  min-width: 260px;
  padding: 30px 25px;
  border-radius: 5px;
  transform-origin: top;
}

.form-wrapper {
  background-color: white;
}

.form fieldset {
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-login fieldset {
  transform: translateX(-50%);
}

.form-wrapper.is-active fieldset {
  opacity: 1;
  transform: translateX(0);
}

.form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.input-block {
  margin-bottom: 15px;
}

.input-block label {
  font-size: 18px;
  color: #2b686e;
}

.input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 25px;
  color: #3b4465;
  background: #daeff1;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type="submit"] {
  opacity: 0;
  display: block;
  min-width: 120px;
  margin: 10px auto 10px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .form [type="submit"] {
  opacity: 1;
  transform: translateX(0);
}

.btn-login {
  color: #fbfdff;
  background: #327a81;
  transform: translateX(-30%);
}

